body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 50px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
  }
  
  .square {
    background: #fff;
    border: 1px solid rgb(0, 0, 0);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 150px;
    padding: 0;
    text-align: center;
    width: 150px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  